@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 768px) and (max-width: 1120px) {
  .search-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1120px) {
  .search-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1.4fr 1fr;
  }
}
.type::after {
  content: ".";
  animation: cursor 0.8s infinite step-start;
  color: #ff2b2b;
}
@keyframes cursor {
  50% {
    opacity: 0;
  }
}
