@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 768px) {
  .search-grid {
    display: grid;
    grid-template-columns: 1fr;
  }
}
@media (min-width: 768px) and (max-width: 1120px) {
  .search-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1120px) {
  .search-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1.4fr 1fr;
  }
}

@keyframes progress { 0% { transform: rotate(0deg); } 100% { transform: rotate(288deg); /* 80% of 360 degrees */ } } .animate-progress { animation: progress 5s linear; }

