.hero {
  background-image: url("https://www.libertytravel.com/sites/default/files/styles/full_size/public/flight-hero.jpg?itok=hhscHSGZ");
  background-size: cover;
  background-attachment: fixed;
  /* position: absolute; */
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 60vh;
  /* padding-top: 20%; */
  padding-right: 50px;
  color: #fff;
}

.hero #heading {
  text-align: left;
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 768px) {
  .hero {
    background-size: cover;
    background-attachment: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 30vh;
   
    color: #fff;
  }
  .hero .row {
    width: 100%;
  }
}
