.popup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
  }
  
  /* .popup {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  } */
  
  .popup {
    background-color: #127062;
    border-radius: 8px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    position: relative;
  }

  .popup-image {
    max-width: 100%;
    height: auto;
    
  }
  
  .popup-close-btn {
    border: none;
    font-size: 1.5rem;
    font-weight: 500;
    cursor: pointer;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
  }
 